---
layout: default
title: Marisa NeSmith Brand Photography
gallery:
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/mandrn.jpg
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/glasshouse.jpg
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/roam-luggage.jpg
   position: bg-pos-c
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/thinksport.jpg
   position: bg-pos-c
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/pharmacie.jpg
   position: bg-pos-b
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/florida.jpg
   position: bg-pos-b
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/topo-pack.jpg
   position: bg-pos-b
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/florida-mandrn-sunrise.jpg
   position: bg-pos-b
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/roam-luggage-2.jpg
   position: bg-pos-c
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/hat-field.jpg
   position: bg-pos-c
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/product-photos.jpg
   position: bg-pos-b
 - column-size: col-3_sm-6
   aspect-ratio: square
   background_image: /images/hat-beach-photo.jpg
   position: bg-pos-b
---


    <section class="padded center bg-linen">
        <h3 class="mb">Brand Photography</h3>
        <div class="grid-center gallery" id="lightgallery">
            {% for item in page.gallery %}
            <a class="{{item.column-size}} fancybox" href="{{item.background_image}}" data-fancybox="gallery">
                <div class="bg-image {{item.aspect-ratio}} {{item.position}}" style="background-image:url('{{item.background_image}}')"></div>
            </a>
            {% endfor %}
        </div>
    </section>


     <!---------- Text Section ----------->
     <section class="grid-center padded">
        <div class="col-12 center">
            <h2 class="mb-sm" data-aos="fade-in">Add Some Text Here</h2>
            <p class="padding-r padding-l">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit tempora reiciendis consequatur nobis quidem sapiente harum doloribus. Ullam facilis vero iure nemo? Debitis earum possimus, quod distinctio id est natus.</p>
        </div>
    </section>

    <!--------- CONTINENT GALLERY ----------->
    <section class="grid tall-80 padding-t padding-b bg-linen">
        <div class="col-4_sm-6 bg-image linen-border bg-pos-c" style="background-image:url('images/hat-beach.jpg')"></div>
        <div class="col-4_sm-6 bg-image linen-border bg-pos-r" style="background-image:url('images/product-photos.jpg')"></div>
        <div class="col-4_sm-12 bg-image linen-border bg-pos-b" style="background-image:url('images/necklace.jpg')"></div>
        <!-- <div class="col-3_md-6_sm-12 bg-image border bg-marisa-portrait-10"></div> -->
        <!-- <div class="col-3_md-6_sm-12 bg-image border bg-marisa-portrait-10"></div> -->
    </section>

      <!-------- Let's Connect -------->
      {% include connect.html %}

    <!------------ IMAGE GALLERY ---------->

    <div class="gallery grid-middle padding-t padding-b justify bg-linen">
        <div class="col-4">
            <div class="bg-image box-shadow mb bg-pos-b square" style="background-image:url('images/lifestyle-4.jpg')"></div>
            <div class="bg-image box-shadow portrait bg-pos-c" style="background-image:url('images/topo-designs.jpg')"></div>
        </div>
        <div class="col-3">
            <div class="bg-image box-shadow mb tall-portrait" style="background-image:url('images/brett-mountain.jpg')"></div>
            <div class="bg-image box-shadow tall-portrait" style="background-image:url('images/roam-luggage-airport.jpg')"></div>
        </div>
        <div class="col-4">
            <div class="bg-image box-shadow mb portrait bg-pos-t" style="background-image:url('images/osprey.jpg')"></div>
            <div class="bg-image box-shadow square bg-pos-b" style="background-image:url('images/mandrn-fields.jpg')"></div>
        </div>
    </div>