<header class="grid">
    <div class="col-6-middle logo">
        <a href="/index.html">
            <h1>Marisa NeSmith</h1>
        </a>
    </div>
    <nav class="col-6-middle right mob-hide">     
        <a href="#">Photography</a>
        <a href="#">About</a>
        <a href="/contact.html">Contact</a>
    </nav>
    <div class="col-6-middle">
        <div class="hamburger-button mob-show right">
            <h1 class="right">&#9776</h1>
        </div>
    </div>
</header>


<div class="mobile-menu">
    <nav>
        <a href="#">Photography</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
</div>