<footer class="grid bg-slate linen-text padded">
    <div class="col-12-middle center">
        <a href="index.html">
            <h2 class="linen-text">Marisa NeSmith</h2>
        </a>
        <div class="col-12-middle">
            <!-- <hr class="center"> -->
            <nav>
                <!-- <a class="linen-text" href="#">About</a>// -->
                <a class="linen-text" href="#">Photography</a>//
                <a class="linen-text" href="/contact.html">Contact</a>//
                <a class="linen-text" href="#">Work with me</a>
            </nav>
        </div>
    </div>
</footer>